<div ng-controller="peliculaController">
    <div ng-include="'./views/pelicula.html'"></div>
</div>

    <div class="animated bounceInDown">
        <span ng-show="filmsLater.length == 0"><h2>No tienes peliculas pendientes para más tarde</h2></span>
        <div class="img_fav">
            <div ng-repeat="film in filmsLater | filter:search track by film.id" class="x_relative">
                <img src="../img/x.png" alt="" class="x" ng-click="removeLater(film)">
                <a ng-click="show(film)"><img ng-src="https://image.tmdb.org/t/p/w500/{{film.poster_path}}" width="259" height="391" alt="Layer"></a>

            </div>
        </div>

    </div>
