<div ng-controller="peliculaController">
    <div ng-include="'./views/pelicula.html'"></div>
</div>
   <nav class="navbar navbar-default color-fondo">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand center" href="#"><img src="img/Logo.png" alt="Logo"></a>
        </div>
        <ul class="nav navbar-nav m-right">
            <li><a href="#!/" ng-click="getAllPopular()">Descubrir</a></li>
            <li><a href="#!/coming">Próximamente</a></li>
            <li><a href="#!/favourites">Mis Favoritas</a></li>
            <li><a href="#!/later">Para más tarde</a></li>
            <li><a href="#!/saw">Vistas</a></li>
            <li><a><img src="img/search_icon.png" class="search" alt="Buscar"><input type="text" class="encontrarPelicula" id="buscar" placeholder="Encuentra tu película favorita" ng-model="search.title"></a></li>
        </ul>
    </div>
</nav>
<div class="animated bounceInLeft">
    <span ng-show="filmsFav.length == 0"><h2>Elige tus pelis favoritas</h2></span>
    <div class="img_fav">
        <div ng-repeat="film in filmsFav | filter:search track by film.id" class="x_relative">
            <img src="../img/x.png" alt="" class="x" ng-click="removeFav(film.id)">
            <a ng-click="show(film)"><img ng-src="https://image.tmdb.org/t/p/w500/{{film.poster_path}}" width="259" height="391" alt="Layer"></a>

        </div>
    </div>
</div>
