<div ng-controller="peliculaController">
    <div ng-include="'./views/pelicula.html'"></div>
</div>

<div class="animated bounceInRight">
    <span ng-show="filmsSaw.length == 0"><h2>No tienes películas vistas</h2></span>
    <div class="img_fav">
        <div ng-repeat="film in filmsSaw | filter:search track by film.id" class="x_relative">
            <img src="../img/x.png" alt="" class="x" ng-click="removeSaw(film)">
            <a ng-click="show(film)"><img ng-src="https://image.tmdb.org/t/p/w500/{{film.poster_path}}" width="259" height="391" alt="Layer"></a>

        </div>
    </div>
